.b1
{
	width: 200px;
	height: 50px;
	background-color: pink;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	font-size: 20px;
	font-family: times new roman;
	color: black;
}

.b1:hover{cursor: pointer; background-color: blue; width: 220px; height: 70px;}

.top
{
	width: auto;
	height: auto;
	background-color: black;
	color: white;
	margin: auto;
}
.r1
{
	color: pink;
	font-size: 50px;
	margin-left: 300px;
	font-family: 'Gotu', sans-serif;
}
.p1
{
	font-size: 	25px;
	margin-left: 100px;
	font-family: 'Lobster', cursive;
	font-family: 'Mukta', sans-serif;
}
.p2
{
	font-size: 	25px;
	margin-left: 100px;
	font-family: 'Lobster', cursive;
	font-family: 'Mukta', sans-serif;
}
.r2
{
	width: 700px;
	height: auto;
	margin-left: 30px;
}
.img1
{
	width: 400px;
	height: 350px;
	margin-left: 300px;
	margin-top: 50px;
}